@model Status

@{
    ViewData["Title"] = "StatusCreate";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<!-- BEGIN PAGE CONTENT-->
<div class="row">

    <div class="col-md-2"></div>

    <div class="col-md-8 ">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet box purple ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i> STATÜ GİRİŞ FORMU
                </div>
                <div class="tools">
                    <a href="" class="collapse">
                    </a>
                    <a href="#portlet-config" data-toggle="modal" class="config">
                    </a>
                    <a href="" class="reload">
                    </a>
                    <a href="" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body form">
                <form class="form-horizontal" role="form" action="/Admin/StatusCreate" method="post">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-body">

                        <div class="form-group">
                            <label asp-for="StatusName" class="col-md-3 control-label"></label>
                            <div class="col-md-9">
                                <input asp-for="StatusName" class="form-control input-lg" placeholder="Status Adı" required />
                            </div>
                            <span asp-validation-for="StatusName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Aktif Mi?</label>
                            <div class="col-md-9">
                                <input asp-for="Active" class="form-control input-lg" />
                            </div>
                        </div>
                        
                    </div>
                    <div class="form-actions right1">
                        <a asp-action="StatusIndex" class="btn btn-primary">STATUS  LİSTESİ</a>
                        <input type="submit" name="name" value="KAYDET" class="btn btn-success" />
                    </div>

                </form>
            </div>
        </div>
        <!-- END SAMPLE FORM PORTLET-->
    </div>
</div>
<!-- END PAGE CONTENT-->