@model Supplier

@{
    ViewData["Title"] = "SupplierDelete";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-8">
        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet box red">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs"></i>MARKALAR
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="#portlet-config" data-toggle="modal" class="config">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                    <a href="javascript:;" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-scrollable">
                    <table class="table table-dark table-hover">
                        <thead style="background-color:grey;color:white;">
                            <tr>
                                <th>
                                    @Html.DisplayFor(model => model.SupplierID)
                                </th>
                                <th>
                                    @Html.DisplayFor(model => model.BrandName)
                                </th>
                                <th>
                                    <img src="~/resimler/@Model?.PhotoPath" height="30" width="70" />
                                </th>
                                <th></th>
                                <th>@Html.DisplayFor(model => model.Active)</th>
                            </tr>
                        </thead>
                    </table>

                    <form asp-action="SupplierDelete" method="post">
                        <input type="hidden" asp-for="SupplierID" />

                        <input type="submit" value="SİL" class="btn btn-danger" onclick="return confirm('Silmek istediğinize emin misiniz?')" />

                        <a asp-action="SupplierIndex" class="btn btn-success">MARKA LİSTESİ</a>
                    </form>

                </div>
            </div>
        </div>
        <!-- END SAMPLE TABLE PORTLET-->
    </div>
</div>
<!-- END PAGE CONTENT-->