
@{
    ViewData["Title"] = "InformationalSecurityPolicy";
    Layout = "~/Views/Shared/DefaultLayout.cshtml";
}

<h3>BİLGİ GÜVENLİĞİ POLİTİKASI</h3>

<p>
    İAkademi, kurum misyonu ve vizyonu doğrultusunda, TS ISO/IEC 27001 Bilgi Güvenliği Yönetim Sistemi (BGYS) standardı çerçevesinde, bilginin gizliliğini, bütünlüğünü ve erişilebilirliğini sağlamak amacı ile aşağıdaki hususları taahhüt eder;

    Bilgi güvenliği hedeflerini ve faaliyetlerini belirleyerek BGYS‘yi planlar, uygular, kontrol eder ve sistemin sürekli olarak iyileştirilmesini sağlar;
</p>

<p>
    Yürütülen faaliyetlerin mevzuat, sözleşme, standart ve iş gereksinimlerini nasıl karşıladığını tanımlar;
    Kişisel Verilerin Korunması Kanunu (KVKK) gereksinimlerini nasıl karşıladığını tanımlar;
    Bünyesinde kurulu olan diğer yönetim sistemleri ile beraber BGYS çalışmalarını bütünleşik olarak yürütür;
    BGYS kapsamı çerçevesinde görev, rol ve sorumluluklar ile gerekli kaynakları belirler;
</p>

<p>

    Gizlilik, bütünlük, erişilebilirlik kriterlerini belirleyerek bilgi varlıklarının envanterini çıkarır;
    Bilgi güvenliğini yönetmek için mevcut ve potansiyel riskleri tanımlar, değerlendirir ve uygun risk işleme seçeneklerini devreye alır;
    İş sürekliliği planlamaları yapar, bu planları uygular ve sürecin sürekli iyileştirilmesini sağlar;
    Bilgi güvenliği konusundaki güncel teknolojileri ve yenilikleri takip ederek, çözümler geliştirir;

</p>


<p>
    Tüm paydaşların bilgi güvenliği ile ilgili belirlenen hususlara uyması için gerekli önlemleri alır;
    Bu politikanın duyurulmasını, erişilebilir olmasını, farkındalığının oluşmasını ve uygulanmasını sağlar;
    Bu politikanın ihlali durumunda ilgili süreçleri başlatır ve takip eder.
</p>

