
@{
    ViewData["Title"] = "WorkHealthSecurityandEnvironmentPolicy";
    Layout = "~/Views/Shared/DefaultLayout.cshtml";
}

<h3>İŞ SAĞLIĞI GÜVENLİĞİ ve ÇEVRE POLİTİKASI</h3>


<p>
    İAkademi, müşteri siparişlerini karşılaması sürecindeki depo ve lojistik faaliyetleri risklerini de içeren,
    hedef ve politikaları ile müşteri memnuniyeti ve yasal zorunlulukları gözeterek, çevresel etkileri azaltacak ve 
    çevre kirliliğini önleyecek, iş güvenliği ile ilgili riskleri en düşük seviyeye indirecek ve uluslararası alanda 
    "sürekli gelişim" sağlamayı hedefler,
</p>

<p>
    Bu amaçla;
</p>

<ul>
    <li>
        Yürürlükteki tabii olduğumuz Çevre ve İş Sağlığı ve Güvenliği ile ilgili tüm yasal gerekliliklere ve üyesi olduğumuz kuruluşların şartlarına uyacağımızı,
    </li>
</ul>

<ul>
    <li>
        Çalışanlarımızı, müşterilerimizi ve tedarikçilerimizi Çevre ve İş Sağlığı ve Güvenliği konusunda bilinçlendireceğimizi,
</ul>
<ul>
    <li>
    Tüm çalışanlarımız için güvenli ve hedefi sıfır kaza olan bir çalışma ortamı sağlamaya çalışacağımızı,
    </li>
</ul>
<ul>
    <li>
        Çevre ve insan sağlığına gelebilecek tehlikeleri önceden belirleyip önlemlerini alacağımızı,
    </li>
</ul>
<ul>
    <li>
        Çevre kirliliğinin önlenmesi, atıkların minimum seviyeye indirilmesi, geri dönüşümün sağlanması, geri dönüşümü olmayan atıkların bertaraf edilmesi için gerekli tedbirleri alacağımızı,
    </li>
</ul>
<ul>
    <li>
        Çevre ve İş Sağlığı ve Güvenliği yönetim sistemlerinin etkinliklerini ve sürekli olarak gelişmelerini sağlamak amacı ile tüm faaliyetlerimizi, düzenli olarak gözden geçireceğimizi, tüm çalışanlarımızla birlikte taahhüt ederiz.
    </li>
</ul>

