@model MainPageModel

@foreach (var item in Model.HighlightedProducts)
{
	<div class="col-sm-3 col-md-3 col-lg-3">
		<div class="sp-single">
			<div class="sp-img-area">
				<img class="first-img" src="~/resimler/@item.PhotoPath" alt="" style="height:200px;width:200px;" />
				<img class="hover-img" src="~/resimler/@item.PhotoPath" alt="" style="height:200px;width:200px;" />
				<div class="quick-view-detail">
					<a href="/Home/Details/@item.ProductID">Detaylar</a>
				</div>
				<div class="sp-label-pro sp-label-pro-hot" style="background-color:#898121;color:white;">TALEP!</div>
			</div>
			<div class="sp-info-area">
				<h2 class="product-name"><a title="@item.ProductName" href="/Home/Details/@item.ProductID">@item.ProductName </a></h2>
				@*<div class="product-rating">
			<div class="ratingbox" title="" Rating="3/5">
			<div style="width:50px" class="stars-orange"></div>
			</div>
			</div>*@
				<p class="all-prices">
					<span class="sp-price main-price">@item.UnitPrice TL</span>
				</p>
				<div class="sp-button">
					<div class="s-button">
						<a href="/Home/CartProcess/@item.ProductID" data-toggle="tooltip" data-placement="top" title="Sepete Ekle" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-shopping-cart"></i> </a>
					</div>
					<div class="s-button">
						<a href="" data-toggle="tooltip" data-placement="top" title="" class="black-tooltip add-to-cart all_src_icon"></a>
					</div>
					<div class="s-button last-b ">
						<a href="/Home/Details/@item.ProductID" data-toggle="tooltip" data-placement="top" title="Detaylar" class="black-tooltip add-to-cart all_src_icon"> <i class="fa fa-eye"></i> </a>
					</div>
				</div>
			</div>
		</div>
	</div>
}