@model Setting

@{
    ViewData["Title"] = "SettingEdit";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<!-- BEGIN PAGE CONTENT-->
<div class="row">

    <div class="col-md-2"></div>

    <div class="col-md-8 ">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet box green ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i> AYARLAR TABLOSU FORMU
                </div>
                <div class="tools">
                    <a href="" class="collapse">
                    </a>
                    <a href="#portlet-config" data-toggle="modal" class="config">
                    </a>
                    <a href="" class="reload">
                    </a>
                    <a href="" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body form">
                <form class="form-horizontal" role="form" action="/Admin/SettingEdit" method="post">
                    <div class="form-body">

                        <div class="form-group">
                            <label class="col-md-3 control-label">Telefon No</label>
                            <div class="col-md-9">
                                <input asp-for="Telephone" class="form-control input-lg" placeholder="Telefon No" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Email</label>
                            <div class="col-md-9">
                                <input asp-for="Email" class="form-control input-lg" placeholder="Email" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Adres</label>
                            <div class="col-md-9">
                                <input asp-for="Address" class="form-control input-lg" placeholder="Adres" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Ana Sayfa Ürün Sayısı</label>
                            <div class="col-md-9">
                                <input asp-for="MainPageCount" class="form-control input-lg" placeholder="Ana Sayfa Ürün Sayısı" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Alt Sayfa Ürün Sayısı</label>
                            <div class="col-md-9">
                                <input asp-for="SubPageCount" class="form-control input-lg" placeholder="Alt Sayfa Ürün Sayısı" required />
                            </div>
                        </div>
                      
                        <input type="hidden" asp-for="SettingID"/>

                    </div>
                    <div class="form-actions right1">
                        <a asp-controller="Admin" asp-action="Index" class="btn btn-primary">ANA MENÜ</a>
                        <input type="submit" name="name" value="GÜNCELLE" class="btn btn-success" />
                    </div>
                </form>
            </div>
        </div>
        <!-- END SAMPLE FORM PORTLET-->
    </div>
</div>
<!-- END PAGE CONTENT-->